/* Scss Document */
html,body{
    height:100%;font-size:16px;font-family:'Gotham_Book';color:#fff;
}
.full-height{
    height:100%;
}

header{
    position:fixed;top:0;left:0;width:100%;background-color:#fff;height:4.375em;z-index:99;padding:1em;
    .logo{
        display:inline-block;vertical-align:middle;
    }
    ul.list-inline{
        display:inline-block;padding:0;margin:0 0 0 1em;vertical-align:middle;
        li{
            a{
                line-height:2em;color:#333;
            }
        }
    }
}
footer{
    position:fixed;bottom:0;left:0;width:100%;background-color:#fff;height:5.625em;z-index:99;color:#999;
    ul{
        list-style:none;
    }
}

.main-wrapper{
    min-height:100%;padding:4.375em 0 5.625em;position:relative;z-index:1;
    .owl-carousel{
        background-color:#cb012a;
        em{
            text-decoration:underline;font-size:.75em;padding-top:1rem;display:block;
        }
        h2{
            font-family:'Gotham_Bold';
        }
        a{
            color:#fff;
        }
        .owl-controls{
            width:100%;
            .owl-dots{
                position:absolute;width:100%;
                .owl-dot{
                    display:inline-block;
                }
            }
        }
    }

    .dotsWrapper{
        text-align:center;margin-top:-1em;position:relative;z-index:9;
        span{
            font-size:2em;display:inline-block;width:150px;border:5px solid #cccccc;border-width:5px 1px;color:#333;text-align:center;font-family:'Gotham_Bold';padding:.5rem 0;position:relative;cursor:pointer;background:#fff;
            -moz-transition-duration:.5s;-o-transition-duration:.5s;-webkit-transition-duration:.5s;transition-duration:.5s;
            &.active{
                border-color:#333;border-width:5px;pointer-events:none;
                &:before{
                content:'';border-style: solid;border-width: 0 8px 6px 8px;border-color: transparent transparent #333 transparent;position:absolute;top:-11px;margin:auto;z-index:9;
                }
            }
        }
    }

    .content-holder{
        padding:6em 0;background-color:#e2e2e2;color:#000;margin-top:-6em;
    }
    
}

/*panel-default*/
.panel-default{
    p{
        display:inline-block;color:#333;
    }
    .sliderWrapper{
        width:265px;padding:3px;background:#cecece;display:inline-block;
        .sliderContainer{
            with:100%;height:7px;position:relative;
            .slider{
                background:#0489d1;width:0;height:7px;
            }
            span{
                color:#333;position:absolute;font-size:.75em;top:10px;left:0;margin: 0 0 0 -10px;
            }
        }
    }
}